################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DesefioOpea/FileContentIndex/182f181e-82cf-4a76-a120-e7ffe8e82c11.vsidx
